<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsJaxPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.43.211:8080/WsJax/WsJax" binding="basicHttpBinding"
                bindingConfiguration="WsJaxPortBinding" contract="ServiceReference1.WsJax"
                name="WsJaxPort" />
        </client>
    </system.serviceModel>
</configuration>