<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="authentificationWorkflow.Authentification">
        <endpoint address="http://localhost:8010/Server/services/auth" binding="basicHttpBinding" bindingConfiguration="" contract="authentificationWorkflow.I_Authentification" />
      </service>
      <service name="workflowController.WorkflowController">
        <endpoint address="http://localhost:8010/Server/services/workflow_controller" binding="basicHttpBinding" bindingConfiguration="" contract="workflowController.I_WorkflowController" />
      </service>
      <service name="sqlAccess.SqlAccess">
        <endpoint address="http://localhost:8010/Server/services/sql_access" binding="basicHttpBinding" bindingConfiguration="" contract="sqlAccess.ISqlAccess" />
      </service>      
      <service name="servC.Server">
        <endpoint address="net.tcp://localhost:8020/Server/services/server" binding="netTcpBinding"
            bindingConfiguration="" contract="servC.I_Server" />
      </service>      
      
    </services>
  </system.serviceModel>  
</configuration>