<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8010/Server/services/auth" contract="authentificationWorkflow.I_Authentification" binding="basicHttpBinding" />
      <endpoint address="http://localhost:8010/Server/services/workflow_controller" contract="workflowController.I_WorkflowController" binding="basicHttpBinding" name="IPC_IAdmin"/>
    </client>
  </system.serviceModel>
</configuration>